# Copia este archivo como .env y completa los valores
# cp .env.example .env

POSTGRES_USER=frontera
POSTGRES_PASSWORD=grupo
POSTGRES_DB=grupofrontera
DATABASE_URL=postgres://frontera:grupo@localhost:5433/grupofrontera

BETTER_AUTH_SECRET=un_secreto_largo_y_aleatorio_minimo_32_caracteres
BETTER_AUTH_URL=http://localhost:4000

GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-tu_client_secret
JWT_SECRET=un_secreto_jwt_largo_para_desarrollo

# Configuración de correos e integraciones
BREVO_API_KEY=xkeysib-tu_key_de_brevo
OPENWEATHER_API_KEY=tu_key_de_openweather
GOOGLE_PLACES_API_KEY=tu_key_de_google_places
AUTHORIZED_ADMIN_EMAILS=danielmpizarro@alumnos.uai.cl,tu_correo@alumnos.uai.cl
ADMIN_TOTP_SECRET=TU_SECRETO_BASE32_AQUI
